<!--Topside-->
<div class="container">
    <div class="row mt-2">
        <!--<div class="col-md-2">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Information
                </div>
                <div class="card-body">
                    <marquee behavior="" direction="">
                        <h3 class="my-4">This is the Information</h3>
                    </marquee>
                </div>
            </div>
        </div>-->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Statistics
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <a class="text-decoration-none text-dark" href="{% url 'all_maintenance' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Requests </h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="text-decoration-none text-dark" href="{% url 'pending' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Pending </h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="text-decoration-none text-dark" href="{% url 'solved' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>All Solved </h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="text-decoration-none text-dark" href="{% url 'unsolved' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Unsolved </h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="text-decoration-none text-dark" href="{% url 'insoluble' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Insoluble </h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="text-decoration-none text-dark" href="{% url 'workers' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Workers </h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Topside-->